---
---

@import "{{ site.theme }}";

body {
    background: #090909;
    color: #EEEEEE;
}

.gradient-container {
    padding-top: 32px !important;
    padding-bottom: 32px !important;
    background: rgb(5,3,3);
    background: -moz-linear-gradient(119deg, rgba(5,3,3,1) 0%, rgba(11,6,144,1) 29%, rgba(170,71,17,1) 100%);
    background: -webkit-linear-gradient(119deg, rgba(5,3,3,1) 0%, rgba(11,6,144,1) 29%, rgba(170,71,17,1) 100%);
    background: linear-gradient(119deg, rgba(5,3,3,1) 0%, rgba(11,6,144,1) 29%, rgba(170,71,17,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#050303",endColorstr="#aa4711",GradientType=1);
    background-repeat: no-repeat;
    z-index: 2;
}

.wd-header {
    color: #d3d3d3
}

.content {
    padding: 32px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 147px;
}

@keyframes hover_project {
    from {
        width: 225px;
        height: 250px;
        margin: 8px;
    }
    to {
        width: 233px;
        height: 258px;
        margin: 4px;
        margin-bottom: 2px;
    }
}

@keyframes hover_version {
    from {
        height: 208px;
        align-content: end;
    }
    to {
        height: 216px;
        align-content: end;
    }
}

:root {
    --card-color: linear-gradient(180deg, #000000 0%, #000416 27%, #0c0c40 100%);
}

.project-card {
    display: inline-table;
    width: 225px;
    height: 250px;
    padding: 4px;
    margin: 8px;
    border: solid black 1px;
    border-radius: 6px;
    background: #000000;
    background: var(--card-color);
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/docs/assets/content/dungeon_engine_bg.png");
}

.project-card > h1 {
    font-size: 16px;
    text-align: center;
    margin:4px;
}

.project-card:hover {
    animation-name: hover_project;
    animation-duration: 0.5s;
    width: 233px;
    height: 258px;
    margin: 4px;
    margin-bottom: 2px;
}

.header-right {
    float: right;
}

.header-right > .wd-header {
    margin-left: 5px;
}

.project-card > p {
    float: left;
    position: absolute;
    max-width: 215px;
}

.project-card > .project-version {
    height: 208px;
    align-content: end;
}

.project-card:hover > .project-version {
    height: 216px;
    align-content: end;
    animation-duration: 0.5s;
    animation-name: hover_version;
}

.project-langs {
    height: 206px;
    align-content: end;
    position: absolute;
    width: 215px;
}

@keyframes hover_langs {
    from {
        width: 215px;
        height: 206px;
    }
    to {
        width: 223px;
        height: 214px;
    }
}

.project-langs > .project-lang {
    width: 40px;
    float: right;
    background-color: rgba(0,0,0,0);
}
.project-langs:hover {
    height: 214px;
    width: 223px;
    animation-name: hover_langs;
    animation-duration: 0.5s;
}

